name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # --- Temel Ayarlar ---
          user: ${{ github.repository_owner }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Istanbul
          
          plugin_followup: yes
          plugin_followup_sections: repositories
          
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          
          plugin_gists: yes